<div class="container mx-auto p-4">
  <h1 class="text-3xl font-bold mb-4">Ваш Профіль</h1>

  <div class="bg-white p-6 rounded-lg shadow-md">
    <h2 class="text-2xl font-semibold mb-2">Інформація про користувача</h2>
    <p><strong>Ім'я:</strong> Admin</p>
    <p><strong>Електронна пошта:</strong> admin.com</p>
    <p><strong>Дата реєстрації:</strong> 01.01.2024</p>
    <a routerLink="/news" class="mt-4 inline-block bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition">
      Повернутися до новин
    </a>
  </div>
</div>
